html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
  padding: 50px 0;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.container > * {
  margin-bottom: .75rem;
}
.color-options {
  display: flex;
  justify-content: center;
  gap: .5rem;
  flex-wrap: wrap;
}
.color-option {
  height: 2rem;
  width: auto;
}
.color-options__picker {
  width: 2.5rem;
}

.grid {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 3px solid #ffffff;
  display: grid;
}
@media screen and (min-width: 768px){
   .grid {
    width: 600px;
    height: 600px;
  }
}
.grid-square {
  border: 1px solid #686868;
}
